@font-face {
    font-family: Hacked;
    src: url('../fonts/HACKED.ttf');
}

html,body {
    font-family: 'Rubik', sans-serif;
}

.navbar-brand {
    font-family: 'Hacked', sans-serif;
    font-size: x-large;
}

.navbar-menu {
    background-color: #ffffff00;
}

.hero.is-info {
    background-blend-mode: color;
    background: linear-gradient(
            rgba(47, 51, 186, 0.75),
            rgba(0, 179, 226, 0.5)
    ), url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}
